<html>
	<head>
		<base target="_blank">
		<style type="text/css">
			html,body,p,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,form,input,select,table,tr,td,th,thead,tbody,tfoot{
					margin:0;
					padding: 0;
			}
			html,body{
					width: 100%;
					height:100%;
			}
			#container{
					width: 100%;
					margin:0 auto;
			}
			#subject{
					font-size:16px;
					line-height: 2em;
					margin: 10px 0;
			}
			.username{
					margin: 0 5px;
					display: inline-block;
					color: #900;
			}
			p{
					line-height: 2;
			}
		</style>
		</head>
	<body>
	<div id="container">
		<h1 id="subject">尊敬的<span class="username">{{ username }}</span>先生/女士：</h1>
		<p>您好</p>
		<p>欢迎注册达达商城，请点击以下链接，我们将协助您完成激活工作</p>
		<br><br>

		//例如 http://127.0.0.1:7000/dadashop/templates/active.html?code=aG9uZ2p1bio5NjE5

		<p><a href="http://127.0.0.1:7000/dadashop/templates/active.html?code={{ code }}">http://127.0.0.1:7000/dadashop/templates/active.html?code={{ code }}</a></p>
		<br><br>
		<p>如果这不是您的邮件，很抱歉打扰您，请您原谅并忽略该邮件。</p>
	</div>

	</body>
</html>